  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    padding-top: 60px;
  }
  
  .modal-content {
    margin: 20% auto;
    width: 50%;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
  }
  
  .image-slider-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1% 0;
  }
  
  .image-slider-container img {
    width: 900px;
    height: 600px;
  }
  
  .page-content {
    margin: 20px;
  }
  
  #chessboardTable {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  
  #chessboardTable div {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 4px outset #a9a9a9;
  }
  
  /* Styling for the chessboard pattern */
  .table-cell-even {
    background-color: #eee;
  }

  .table-cell-odd {
    background-color: #aaa;
  }

  
  /* #chessboardTable div:nth-child(odd) {
    background-color: #aaa;
  } */

  .table-creator {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .table-creator button{
    margin: 25px 0;
  }

  .generateTableButton {
    width: 15%;
  	box-shadow: 0px 10px 14px -7px #276873;
  	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  	background-color:#599bb3;
  	border-radius:8px;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:20px;
  	font-weight:bold;
  	padding:13px 32px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #3d768a;
  }
  .generateTableButton:hover {
  	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  	background-color:#408c99;
  }
  .generateTableButton:active {
  	position:relative;
  	top:1px;
  }
